body
{
  color: #666;
  background-color: #333;
}

*
{
  border-radius: 0 !important;
}

.orange-seperator {
  background-color: #FF7F00;
  width: auto;
  height: 1px;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width:100%;
  width: auto;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}
