body
{
  color: #666;
  background-color: #333;
}

*
{
  border-radius: 0 !important;
}

.orange-seperator {
  background-color: #FF7F00;
  width: auto;
  height: 1px;
}

.tile-image {
  min-width: 100%;
  max-height: 100%;
}
